// set custom hex colors
$siteBgColorCustom: #FFFAFF;
$sidebarBgColorCustom: #FFF1D0;
$textColorCustom: #666260;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #690011;
$headingColorCustom: #690011;
$bodyLinkColorCustom: #19323c;
$navLinkColorCustom: #19323c;
$sidebarLinkColorCustom: #19323c;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #690011;
$buttonHoverBgColorCustom: #19323c;
$borderColorCustom: #c4beb9;